.news-container{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2,47%);
  gap: 10px 10px;
  grid-template-areas:
    ". ."
    ". .";
    width: 100vw;
  }
  
  .pop-container{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius:10px;
    text-align: center;
  }
  
  .newsLink{
    color: black;
    text-decoration: none;
    font-size: 16px;
  }