.currency-container{
    display: flex;
    flex-direction: row;
    width:100vw;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .currency-box{
   margin: 10px;
   width: 30vw
  }
  
  @media only screen and (max-width: 600px) {
    .currency-container{
      display: flex;
      flex-direction: column;
      margin: 5px
    }
    .currency-box{
      margin: 10px;
      width: 80vw
     }
  }