
.world-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 32% [col] 32% [col] 32%;
  grid-template-rows: [row] auto [row] auto [row] ;
  width: 100vw;
  margin-top: 200px;
  }
  
.card-world{
  padding: 10px;
  font-size: 150%;
  }
  
#card0{
  grid-column: span 2;
  grid-row: 1;
  }
  
#card3{
  grid-column:  col 2 / span 2;
  grid-row: 2;
  }

.ant-card{
  padding: 30px !important;
  border-radius: 10px !important;
  background-color: rgba(270, 270, 270, 0.7) !important;
}

  @media only screen and (max-width: 600px) {
    .world-container{
      display: flex;
      flex-direction: column;
      width: 100vw;
      }
  }