
.world-container{
    display: grid;
    grid-gap: 10px;
        grid-template-columns: [col] 27% [col] 27% [col] 27%;
        grid-template-rows: [row] auto [row] auto [row] ;
        width:100%
    }
  
  .card-world{
      padding: 10px;
      font-size: 150%;
  
  }
  
  #card0{
    grid-column: span 2;
    grid-row: 1;
  }
  
  #card3{
    grid-column:  col 2 / span 2;
    grid-row: 2;
  }
  