
.world-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 410px));
  grid-gap:  10px;
  width: 100vw;
  height: 50vh;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  }
  
.card-world{
  padding: 10px;
  font-size: 150%;
  }


.ant-card{
  padding: 30px !important;
  border-radius: 10px !important;
  background-color: rgba(270, 270, 270, 0.7) !important;
}

.ant-card img{
  border-radius: 10px !important;
}

.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}

.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 150px;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
  @media only screen and (max-width: 600px) {
    .world-container{
      margin-top: 100px;
    }
    .ant-card{
      padding: 5px !important;
    }
  }