.sport-images{
    width: 100%;
    height: auto
  }
  
  .sport-picture-container{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(2, 50vh);
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
  }

  @media only screen and (max-width: 600px) {
    .sport-picture-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    }
}