.sport-news-container{
    margin: 20px;
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap: 10px 10px;
  grid-template-areas:
    ". ."
    ". .";
  }

  @media only screen and (max-width: 600px) {
    .sport-news-container{
    display: flex;
    flex-direction: column;
    }
}