.science-container{
    width: 100vw;
    margin: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  .title-science{
    font-size: 4rem;
    border: 2px solid rgb(235, 235, 235);
    background: #fff;
  }

  @media only screen and (max-width: 600px) {
    .science-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    }
    .title-science{
      font-size: 2rem;
    }
}