.science-container{
    width: 100vw;
    margin-top: 80px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    gap: 25px 25px;
  }
  .title-science{
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
    border: 2px solid rgb(235, 235, 235);
    background: rgba(270, 270, 270, 0.7);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px
  }

  @media only screen and (max-width: 600px) {
    /* .science-container{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90% !important;;
    } */
    .title-science{
      font-size: 2rem;
      text-align: center;
    }
}