.roll-out-blurred-bottom {
	-webkit-animation: roll-out-blurred-bottom 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: roll-out-blurred-bottom 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.pagemain-title{
        font-size: 100px;
        margin-top: 30px;
        margin-left: 40px;
        font-weight: bold;
        color: white
}

 @-webkit-keyframes roll-out-blurred-bottom {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(800px) rotate(720deg);
              transform: translateY(800px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
  }
  @keyframes roll-out-blurred-bottom {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(800px) rotate(720deg);
              transform: translateY(800px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
  }
  