.weather-title{
    font-size: 20px;
    text-align: center;
  }
  
  .weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(50% - 200px);
    width: 400px;
    padding: 30px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 10px;
    margin-top: 15%;
    z-index: 999;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .temp-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .sun-container{
    display: flex;
    flex-direction: row;
  }
  
  .marg{
    margin-right: 20px;
  }
  
  .sun{
    width:40px;
    height: auto;
  }

  @media only screen and (max-width: 600px) {
    .weather-container{
    width: 200px;
    padding: 5px;
    margin-left: 80px
    }
    .weather-title{
      font-size: 10px;
    }
    .sun{
      width:30px;
      height: 20px;
    }
    .mobile{
      font-size: 8px
    }
  }