.welcome{
    background: url(/image/main-page.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    display: flex;
   justify-content: flex-end;
   align-items:flex-end;
    font-size: 60px;
    text-align: center;
    z-index: 999; 
  
    
  }

.welcome-loading{
  color: white;
  margin: 80px
}