.stock-title{
    font-size: 15px;
}

.stock-description{
    display: flex;
    flex-direction: column;
    margin-right: 70px
}

.stock-small-container{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .stock-title{
        font-size: 5px;
    }
    .stock-number{
        font-size: 6px;
        margin-left: 30px;
    }
    .ant-card-head-title{
        font-size: 10px;
    }
    .stock-small-container{
        display: flex;
        flex-direction: column;
    }
}



